@target .config/mulletbawbaw/colors.css
/* {{generated}} */
@define-color mb_ink         {{ink}};
@define-color mb_bg          {{bg}};
@define-color mb_surface     {{surface}};
@define-color mb_raised      {{raised}};
@define-color mb_border      {{border}};
@define-color mb_navy        {{navy}};
@define-color mb_fg          {{fg}};
@define-color mb_muted       {{muted}};
@define-color mb_subtle      {{subtle}};
@define-color mb_purple      {{purple}};
@define-color mb_purple_neon {{purple_neon}};
@define-color mb_zombie      {{zombie}};
@define-color mb_green_neon  {{green_neon}};
@define-color mb_danger      {{danger}};
@define-color mb_warning     {{warning}};
@define-color mb_magenta     {{magenta}};
@define-color mb_cyan        {{cyan}};
@define-color mb_blue        {{blue}};
@define-color mb_bg_alpha      {{bg|rgba:0.88}};
@define-color mb_surface_alpha {{surface|rgba:0.92}};
@define-color mb_glow          {{purple_neon|rgba:0.35}};
@define-color mb_green_glow    {{green_neon|rgba:0.25}};
