@target .config/hypr/mulletbawbaw/colors.conf
# {{generated}}
$mb_bg          = {{bg|hypr:ff}}
$mb_surface     = {{surface|hypr:ff}}
$mb_border      = {{border|hypr:ff}}
$mb_border_dim  = {{border|hypr:99}}
$mb_purple      = {{purple|hypr:ff}}
$mb_purple_neon = {{purple_neon|hypr:ff}}
$mb_zombie      = {{zombie|hypr:ff}}
$mb_green_neon  = {{green_neon|hypr:ff}}
$mb_magenta     = {{magenta|hypr:ff}}
$mb_danger      = {{danger|hypr:ff}}
$mb_warning     = {{warning|hypr:ff}}
$mb_fg          = {{fg|hypr:ff}}
$mb_shadow      = {{ink|hypr:cc}}
$mb_glow        = {{purple_neon|hypr:55}}
$mb_font        = {{fonts.mono}}
