@target .local/share/color-schemes/MulletBawbaw.colors
# {{generated}}
[ColorEffects:Disabled]
Color={{surface|kde}}
ColorAmount=0.5
ColorEffect=3
ContrastAmount=0.4
ContrastEffect=1
IntensityAmount=0
IntensityEffect=0

[ColorEffects:Inactive]
ChangeSelectionColor=false
Enable=false

[Colors:Button]
BackgroundAlternate={{raised|kde}}
BackgroundNormal={{raised|kde}}
DecorationFocus={{purple|kde}}
DecorationHover={{green_neon|kde}}
ForegroundActive={{green_neon|kde}}
ForegroundInactive={{muted|kde}}
ForegroundLink={{cyan|kde}}
ForegroundNegative={{danger|kde}}
ForegroundNeutral={{warning|kde}}
ForegroundNormal={{fg|kde}}
ForegroundPositive={{zombie|kde}}
ForegroundVisited={{magenta|kde}}

[Colors:Complementary]
BackgroundAlternate={{surface|kde}}
BackgroundNormal={{ink|kde}}
DecorationFocus={{purple|kde}}
DecorationHover={{green_neon|kde}}
ForegroundActive={{green_neon|kde}}
ForegroundInactive={{muted|kde}}
ForegroundLink={{cyan|kde}}
ForegroundNegative={{danger|kde}}
ForegroundNeutral={{warning|kde}}
ForegroundNormal={{fg|kde}}
ForegroundPositive={{zombie|kde}}
ForegroundVisited={{magenta|kde}}

[Colors:Header]
BackgroundAlternate={{surface|kde}}
BackgroundNormal={{surface|kde}}
DecorationFocus={{purple|kde}}
DecorationHover={{green_neon|kde}}
ForegroundActive={{green_neon|kde}}
ForegroundInactive={{muted|kde}}
ForegroundLink={{cyan|kde}}
ForegroundNegative={{danger|kde}}
ForegroundNeutral={{warning|kde}}
ForegroundNormal={{fg|kde}}
ForegroundPositive={{zombie|kde}}
ForegroundVisited={{magenta|kde}}

[Colors:Header][Inactive]
BackgroundAlternate={{bg|kde}}
BackgroundNormal={{bg|kde}}
DecorationFocus={{purple|kde}}
DecorationHover={{green_neon|kde}}
ForegroundActive={{green_neon|kde}}
ForegroundInactive={{subtle|kde}}
ForegroundLink={{cyan|kde}}
ForegroundNegative={{danger|kde}}
ForegroundNeutral={{warning|kde}}
ForegroundNormal={{muted|kde}}
ForegroundPositive={{zombie|kde}}
ForegroundVisited={{magenta|kde}}

[Colors:Selection]
BackgroundAlternate={{zombie|kde}}
BackgroundNormal={{green_neon|kde}}
DecorationFocus={{purple|kde}}
DecorationHover={{green_neon|kde}}
ForegroundActive={{ink|kde}}
ForegroundInactive={{raised|kde}}
ForegroundLink={{navy|kde}}
ForegroundNegative={{danger|kde}}
ForegroundNeutral={{warning|kde}}
ForegroundNormal={{ink|kde}}
ForegroundPositive={{ink|kde}}
ForegroundVisited={{raised|kde}}

[Colors:Tooltip]
BackgroundAlternate={{surface|kde}}
BackgroundNormal={{raised|kde}}
DecorationFocus={{purple|kde}}
DecorationHover={{green_neon|kde}}
ForegroundActive={{green_neon|kde}}
ForegroundInactive={{muted|kde}}
ForegroundLink={{cyan|kde}}
ForegroundNegative={{danger|kde}}
ForegroundNeutral={{warning|kde}}
ForegroundNormal={{fg|kde}}
ForegroundPositive={{zombie|kde}}
ForegroundVisited={{magenta|kde}}

[Colors:View]
BackgroundAlternate={{surface|kde}}
BackgroundNormal={{bg|kde}}
DecorationFocus={{purple|kde}}
DecorationHover={{green_neon|kde}}
ForegroundActive={{green_neon|kde}}
ForegroundInactive={{muted|kde}}
ForegroundLink={{cyan|kde}}
ForegroundNegative={{danger|kde}}
ForegroundNeutral={{warning|kde}}
ForegroundNormal={{fg|kde}}
ForegroundPositive={{zombie|kde}}
ForegroundVisited={{magenta|kde}}

[Colors:Window]
BackgroundAlternate={{raised|kde}}
BackgroundNormal={{surface|kde}}
DecorationFocus={{purple|kde}}
DecorationHover={{green_neon|kde}}
ForegroundActive={{green_neon|kde}}
ForegroundInactive={{muted|kde}}
ForegroundLink={{cyan|kde}}
ForegroundNegative={{danger|kde}}
ForegroundNeutral={{warning|kde}}
ForegroundNormal={{fg|kde}}
ForegroundPositive={{zombie|kde}}
ForegroundVisited={{magenta|kde}}

[General]
ColorScheme=MulletBawbaw
Name=MulletBawbaw
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{surface|kde}}
activeBlend={{purple|kde}}
activeForeground={{fg|kde}}
inactiveBackground={{bg|kde}}
inactiveBlend={{border|kde}}
inactiveForeground={{muted|kde}}
