@target .config/kitty/mulletbawbaw.conf
# {{generated}}
foreground              {{fg}}
background              {{bg}}
selection_foreground    {{ink}}
selection_background    {{green_neon}}
cursor                  {{green_neon}}
cursor_text_color       {{ink}}
cursor_trail_color      {{purple_neon}}
url_color               {{cyan}}
visual_bell_color       {{purple}}
bell_border_color       {{warning}}
active_border_color     {{purple_neon}}
inactive_border_color   {{border}}
mark1_background        {{green_neon}}
mark2_background        {{purple}}
mark3_background        {{warning}}

tab_bar_background      {{ink}}
tab_bar_margin_color    {{ink}}
active_tab_foreground   {{ink}}
active_tab_background   {{green_neon}}
inactive_tab_foreground {{muted}}
inactive_tab_background {{surface}}

color0  {{ansi0}}
color1  {{ansi1}}
color2  {{ansi2}}
color3  {{ansi3}}
color4  {{ansi4}}
color5  {{ansi5}}
color6  {{ansi6}}
color7  {{ansi7}}
color8  {{ansi8}}
color9  {{ansi9}}
color10 {{ansi10}}
color11 {{ansi11}}
color12 {{ansi12}}
color13 {{ansi13}}
color14 {{ansi14}}
color15 {{ansi15}}
