@target .config/lsd/colors.yaml
# {{generated}}
user: "{{purple}}"
group: "{{subtle}}"
permission:
  read: "{{zombie}}"
  write: "{{warning}}"
  exec: "{{danger}}"
  exec-sticky: "{{magenta}}"
  no-access: "{{subtle}}"
  octal: "{{cyan}}"
  acl: "{{cyan}}"
  context: "{{cyan}}"
date:
  hour-old: "{{green_neon}}"
  day-old: "{{zombie}}"
  older: "{{subtle}}"
size:
  none: "{{subtle}}"
  small: "{{muted}}"
  medium: "{{purple}}"
  large: "{{magenta}}"
inode:
  valid: "{{muted}}"
  invalid: "{{subtle}}"
links:
  valid: "{{cyan}}"
  invalid: "{{danger}}"
tree-edge: "{{border}}"
git-status:
  default: "{{subtle}}"
  unmodified: "{{subtle}}"
  ignored: "{{subtle}}"
  new-in-index: "{{green_neon}}"
  new-in-workdir: "{{magenta}}"
  typechange: "{{warning}}"
  deleted: "{{danger}}"
  renamed: "{{cyan}}"
  modified: "{{warning}}"
  conflicted: "{{danger}}"
