@target .config/qt6ct/colors/MulletBawbaw.conf
# {{generated}}
# Ordem (QPalette::ColorRole): WindowText, Button, Light, Midlight, Dark, Mid, Text, BrightText,
# ButtonText, Base, Window, Shadow, Highlight, HighlightedText, Link, LinkVisited, AlternateBase,
# NoRole, ToolTipBase, ToolTipText, PlaceholderText
[ColorScheme]
active_colors=#ff{{fg|hex}}, #ff{{raised|hex}}, #ff{{border|hex}}, #ff{{raised|hex}}, #ff{{ink|hex}}, #ff{{surface|hex}}, #ff{{fg|hex}}, #ff{{green_neon|hex}}, #ff{{fg|hex}}, #ff{{bg|hex}}, #ff{{surface|hex}}, #ff{{ink|hex}}, #ff{{green_neon|hex}}, #ff{{ink|hex}}, #ff{{cyan|hex}}, #ff{{magenta|hex}}, #ff{{surface|hex}}, #ff{{bg|hex}}, #ff{{raised|hex}}, #ff{{fg|hex}}, #ff{{subtle|hex}}
disabled_colors=#ff{{subtle|hex}}, #ff{{surface|hex}}, #ff{{border|hex}}, #ff{{raised|hex}}, #ff{{ink|hex}}, #ff{{surface|hex}}, #ff{{subtle|hex}}, #ff{{subtle|hex}}, #ff{{subtle|hex}}, #ff{{bg|hex}}, #ff{{surface|hex}}, #ff{{ink|hex}}, #ff{{border|hex}}, #ff{{muted|hex}}, #ff{{subtle|hex}}, #ff{{subtle|hex}}, #ff{{surface|hex}}, #ff{{bg|hex}}, #ff{{raised|hex}}, #ff{{muted|hex}}, #ff{{subtle|hex}}
inactive_colors=#ff{{fg|hex}}, #ff{{raised|hex}}, #ff{{border|hex}}, #ff{{raised|hex}}, #ff{{ink|hex}}, #ff{{surface|hex}}, #ff{{fg|hex}}, #ff{{green_neon|hex}}, #ff{{fg|hex}}, #ff{{bg|hex}}, #ff{{surface|hex}}, #ff{{ink|hex}}, #ff{{purple|hex}}, #ff{{ink|hex}}, #ff{{cyan|hex}}, #ff{{magenta|hex}}, #ff{{surface|hex}}, #ff{{bg|hex}}, #ff{{raised|hex}}, #ff{{fg|hex}}, #ff{{subtle|hex}}
